<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>FirstBE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Helloservlet</display-name>
    <servlet-name>Helloservlet</servlet-name>
    <servlet-class>com.ssafy.yusin.controller.Helloservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Helloservlet</servlet-name>
    <url-pattern>/Helloservlet</url-pattern>
    <url-pattern>/yusin</url-pattern>
    <url-pattern>/yunghun</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>yusin</display-name>
    <servlet-name>yusin</servlet-name>
    <servlet-class>com.ssafy.yusin.controller2.yusin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yusin</servlet-name>
    <url-pattern>/yusin2</url-pattern>
  </servlet-mapping>
</web-app>